.main-top-section {
  position: relative;
  height: 30vh;
  background: url("http://i.imgur.com/WfPT5fD.jpg") center no-repeat;
  background-size: cover;

}

.ham {
  width: 50px;
  height: 50px;
  margin: 20px 0 0 20px

}

.item {
  width: 50%;
  float: left;
  font-size: 0;
}

.wide-image {
  display: none;
}

.item-title {
  display: none;

}

.item img {
  width: 100%;

}

@media(min-width: 900px) {
  .item {
    position: relative;
    width: 100%;
  }
  .item img {
    width: 30%;
    float: right;
  }

  .small-image {
    display: none;
  }

  .item-title {
    position: absolute;
    top: 4rem;
    font-size: 2rem;

  }

  .wide-image {
    display: block;
    width: 100%;

  }
}
